<div style="margin:80px">
  <p>Oops. Something went wrong. Sorry.</p>
  <p>We have been notified of the problem.</p>
  <p>Someone will get back to you when it's fixed.</p>
  <p>
    <%= link_to 'Go back to what you were doing', :back %>
  </p>
</div>
